
body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  
}

.welcome{
  text-align: center; 
  background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate; 
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.card{
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.103);
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}